@model DataCenterSpecialist.Models.Dominio.Smartnet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Smartnet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipamento.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioCobertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioCobertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFimCobertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimCobertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SmartnetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
