@model DataCenterSpecialist.Models.FibraOptica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FibraOptica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroCabo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCabo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RackA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RackA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipamentoA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipamentoA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortaA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortaA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RackB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RackB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipamentoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipamentoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortaB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortaB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaboID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
